<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Memorize.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1005996C29DB9D790073EE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1005997C29DB9D7A0073EE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1005998629DB9D7A0073EE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
